<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>

    <body>

        <%- include('../partials/navcc'); -%>

        <!-- content for about page -->
        <section class="breadcrumb_area br_image">
          <div class="container">
            <div class="page-cover text-center">
              <h2 class="page-cover-tittle"><%= info.day %></h2>
            </div>
          </div>
        </section>
        <section class="event_details_area section_gap">
          <div class="container">
            <div class="row">
              <div class="col-md-12 event_details">
                <h2 class="res_eve_des assignment-header" >
                  Assignments for Today
                </h2>
                <h2
                  class="res_eve_des project-header"
                >
                  <%= info.title %>
                </h2>
                <%- info.description %>
                <h2 class="res_eve_des project-header <%= info.view %>">
                  Attachments
                </h2>
                <div class="starter-code <%= info.view %>">
                <a
                  href="<%= info.starter1 %>"
                  class="res_eve_des"
                  >Starter Code 1 <br />
                </a>
              </div>
              <div class="starter-code <%= info.view %>">
                <a
                  href="<%= info.starter2 %>"
                  class="res_eve_des"
                  >Starter Code 2
                </a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <%- include('../partials/footer.ejs'); -%>

        <%- include('../partials/scripts.ejs'); -%>

    </body>
</html>
